<section class="section-formulario">

<h2>{{ modoEdicion ? 'Editar Afiliación' : 'Registrar Nueva Afiliación' }}</h2>

  <mat-card class="formulario-container">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">

      <mat-form-field appearance="outline">
        <mat-label>Código Único</mat-label>
        <input matInput formControlName="codigo_unico" placeholder="Ej: 27345910" />
        <mat-error *ngIf="form.get('codigo_unico')?.hasError('required')">Este campo es obligatorio.</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>NIT</mat-label>
        <input matInput formControlName="nit" placeholder="Ej: 120123456" />
        <mat-error *ngIf="form.get('nit')?.hasError('required')">El NIT es obligatorio.</mat-error>
        <mat-error *ngIf="form.get('nit')?.hasError('backend')">  Este NIT ya está registrado.</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Nombre del Comercio</mat-label>
        <input matInput formControlName="nombre_comercio" placeholder="Ej: Panadería La 33" />
        <mat-error *ngIf="form.get('nombre_comercio')?.hasError('required')">Este campo es obligatorio.</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Dirección</mat-label>
        <input matInput formControlName="direccion" placeholder="Ej: Calle 33 #22-11" />
        <mat-error *ngIf="form.get('direccion')?.hasError('required')">La dirección es obligatoria.</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Ciudad</mat-label>
        <input matInput formControlName="ciudad" placeholder="Ej: Cali" />
        <mat-error *ngIf="form.get('ciudad')?.hasError('required')">La ciudad es obligatoria.</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
  <mat-label>Red Instaladora</mat-label>
  <mat-select formControlName="red_instaladora">
    <mat-option value="Redeban">Redeban</mat-option>
    <mat-option value="Credibanco">Credibanco</mat-option>
  </mat-select>
  <mat-error *ngIf="form.get('red_instaladora')?.hasError('required')">
    Este campo es obligatorio.
  </mat-error>
</mat-form-field>


      <mat-form-field appearance="outline">
  <mat-label>Tipo de Datáfono</mat-label>
  <mat-select formControlName="tipo_datafono">
    <mat-optgroup label="Fijos">
  <mat-option value="Fijo">Fijo</mat-option>
</mat-optgroup>
<mat-optgroup label="Inalámbricos">
  <mat-option value="Inalámbrico de papel">Inalámbrico de papel</mat-option>
  <mat-option value="Inalámbrico sin papel">Inalámbrico sin papel</mat-option>
  <mat-option value="Minidatafono">Minidatafono</mat-option>
</mat-optgroup>
<mat-optgroup label="Digitales">
  <mat-option value="Solo QR">Solo QR</mat-option>
  <mat-option value="Link de Pagos">Link de Pagos</mat-option>
</mat-optgroup>

  </mat-select>
  <mat-error *ngIf="form.get('tipo_datafono')?.hasError('required')">
    Este campo es obligatorio.
  </mat-error>
</mat-form-field>


<mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" placeholder="Ej: contacto@panaderia33.com" />
        <mat-error *ngIf="form.get('email')?.hasError('required')">El email es obligatorio.</mat-error>
        <mat-error *ngIf="form.get('email')?.hasError('email')">Formato de email inválido.</mat-error>
      </mat-form-field>



      <mat-form-field appearance="outline">
        <mat-label>Teléfono</mat-label>
        <input matInput formControlName="telefono" placeholder="Ej: 3151234567" />
        <mat-error *ngIf="form.get('telefono')?.hasError('required')">
  El teléfono es obligatorio.
</mat-error>
<mat-error *ngIf="form.get('telefono')?.hasError('pattern')">
  El teléfono debe tener entre 7 y 10 dígitos numéricos.
</mat-error>

      </mat-form-field>

      


<div *ngIf="loading" class="spinner-container">
  <mat-spinner diameter="30"></mat-spinner>
</div>


      <button
  mat-raised-button
  color="primary"
  (click)="onSubmit()"
  *ngIf="!modoEdicion || tienePermiso('editar_afiliaciones')"
  [disabled]="form.invalid || loading">
  {{ modoEdicion ? 'Actualizar Afiliación' : 'Registrar Afiliación' }}
</button>



    </form>
  </mat-card>


  <mat-card *ngIf="afiliacionRegistrada" class="resumen-card">
  <h3>Resumen de Afiliación</h3>
  <p><strong>Comercio:</strong> {{ afiliacionRegistrada.nombre_comercio }}</p>
  <p><strong>NIT:</strong> {{ afiliacionRegistrada.nit }}</p>
  <p><strong>Ciudad:</strong> {{ afiliacionRegistrada.ciudad }}</p>
  <p><strong>Teléfono:</strong> {{ afiliacionRegistrada.telefono }}</p>
  <p><strong>Email:</strong> {{ afiliacionRegistrada.email }}</p>
</mat-card>

</section>

